.bg{
    background-image: url("../images/yoga13.jpg");
    width:100%;
    /* height: 500%; */
    display: flex;
    /* margin-top: -1000px; */
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    /* background-size: cover; */
   padding: 500px 100px;
   width: 100%;
   /* height: 100%; */
   /* margin-left: 100px; */
}

.quo{
   
    /* margin-top: -800px; */
    margin-left: 900px;
    font-weight: bolder;
     color:rgb(137, 98, 167);
    font-family: Georgia, 'Times New Roman', Times, serif;

}
.gen {
    margin-left: 900px;
    margin-top: -950px;
}
.home-cards {
    margin-left: 300px;
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 200px;
    /* margin-bottom: 40px; */
  }
  
  .home-cards img {
    width: 100%;
    margin-bottom: 20px;
  }
  /* .car1{
    margin-left: 200px;
  } */
  /* .car2{
    margin-left: 200px;
  }
  .car3{
    margin-left: 200px;
  } */
  .home-cards h3 {
    margin-bottom: 5px;
  }
  
  .home-cards a {
    display: inline-block;
    padding-top: 10px;
    color: #0067b8;
    text-transform: uppercase;
    font-weight: bold;
  }
  
  .home-cards a:hover i {
    margin-left: 10px;
  }
  .cou{
    margin-top: 200px;
    margin-left: 700px;
  }

  * {
    box-sizing: border-box;
  }
/*   
  body {
    font-family: "Inter", sans-serif;
    height: 100vh;
    background: #f5f5f5;
    box-sizing: border-box;
  } */
  .card1,.card2,.card3 {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    position: relative;
    padding: 24px;
    background: #fff;
    border-radius: 0;
    width: 100%;
    max-width: 420px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  }
  .card-img {
    display: block;
    width: 100%;
    max-height: 320px;
    object-fit: cover;
    margin-bottom: 16px;
  }

  
.btn-col {
    width: 100%;
    margin-top: 24px;
  }
  
  .icon-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    color: #fff;
    background: rgb(138, 109, 160);
    padding: 1.4em 0;
    border-radius: 0;
    transition: background 0.3s ease;
    text-decoration: none;
    line-height: 1;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 3px;
  }
  
  .rubicons {
    width: 24px;
    margin-left: 8px;
    transition: transform 0.3s ease;
  }
  
  .icon-link:hover {
    background: #ba97be;
  }
  
  .icon-link:hover > .rubicons {
    transform: translate(3px, -3px);
  }
  
  .hide {
    display: none;
  }

  
  .product{
    font-size: 1.7rem;
    text-align: center;
    line-height: 1;
    font-weight: bold;
    margin-bottom: 6px;
    margin-top: 0;
    color: #000;
  }    

  .card1{
    margin-top: 100px;
    /* margin-bottom: ; */
    margin-left: 70px;
  }
  .card2{
    margin-top: -480px;
    margin-left: 550px;
  }
  .card3{
    margin-top: -470px;
    margin-left: 1050px;
  }
  .btn{
    width:20%;
    margin-left: 1150px;
    margin-top: -50px;
    /* margin-top: 100px; */
  }



  body{margin-top:20px;}
  .footer_area {
      position: relative;
      z-index: 1;
      overflow: hidden;
  webkit-box-shadow: 0 8px 48px 8px rgba(47, 91, 234, 0.175);
      box-shadow: 0 8px 48px 8px rgba(47, 91, 234, 0.175);
      padding:60px;
  }
  .footer_area .row {
      margin-left: -25px;
      margin-right: -25px;
  }
  .footer_area .row .col,
  .footer_area .row .col-1,
  .footer_area .row .col-10,
  .footer_area .row .col-11,
  .footer_area .row .col-12,
  .footer_area .row .col-2,
  .footer_area .row .col-3,
  .footer_area .row .col-4,
  .footer_area .row .col-5,
  .footer_area .row .col-6,
  .footer_area .row .col-7,
  .footer_area .row .col-8,
  .footer_area .row .col-9,
  .footer_area .row .col-auto,
  .footer_area .row .col-lg,
  .footer_area .row .col-lg-1,
  .footer_area .row .col-lg-10,
  .footer_area .row .col-lg-11,
  .footer_area .row .col-lg-12,
  .footer_area .row .col-lg-2,
  .footer_area .row .col-lg-3,
  .footer_area .row .col-lg-4,
  .footer_area .row .col-lg-5,
  .footer_area .row .col-lg-6,
  .footer_area .row .col-lg-7,
  .footer_area .row .col-lg-8,
  .footer_area .row .col-lg-9,
  .footer_area .row .col-lg-auto,
  .footer_area .row .col-md,
  .footer_area .row .col-md-1,
  .footer_area .row .col-md-10,
  .footer_area .row .col-md-11,
  .footer_area .row .col-md-12,
  .footer_area .row .col-md-2,
  .footer_area .row .col-md-3,
  .footer_area .row .col-md-4,
  .footer_area .row .col-md-5,
  .footer_area .row .col-md-6,
  .footer_area .row .col-md-7,
  .footer_area .row .col-md-8,
  .footer_area .row .col-md-9,
  .footer_area .row .col-md-auto,
  .footer_area .row .col-sm,
  .footer_area .row .col-sm-1,
  .footer_area .row .col-sm-10,
  .footer_area .row .col-sm-11,
  .footer_area .row .col-sm-12,
  .footer_area .row .col-sm-2,
  .footer_area .row .col-sm-3,
  .footer_area .row .col-sm-4,
  .footer_area .row .col-sm-5,
  .footer_area .row .col-sm-6,
  .footer_area .row .col-sm-7,
  .footer_area .row .col-sm-8,
  .footer_area .row .col-sm-9,
  .footer_area .row .col-sm-auto,
  .footer_area .row .col-xl,
  .footer_area .row .col-xl-1,
  .footer_area .row .col-xl-10,
  .footer_area .row .col-xl-11,
  .footer_area .row .col-xl-12,
  .footer_area .row .col-xl-2,
  .footer_area .row .col-xl-3,
  .footer_area .row .col-xl-4,
  .footer_area .row .col-xl-5,
  .footer_area .row .col-xl-6,
  .footer_area .row .col-xl-7,
  .footer_area .row .col-xl-8,
  .footer_area .row .col-xl-9,
  .footer_area .row .col-xl-auto {
      padding-right: 25px;
      padding-left: 25px;
  }
  
  .single-footer-widget {
      position: relative;
      z-index: 1;
  }
  .single-footer-widget .copywrite-text a {
      color: #747794;
      font-size: 1rem;
  }
  .single-footer-widget .copywrite-text a:hover,
  .single-footer-widget .copywrite-text a:focus {
      color: #3f43fd;
  }
  .single-footer-widget .widget-title {
      margin-bottom: 1.5rem;
  }
  .single-footer-widget .footer_menu li a {
      color: #747794;
      margin-bottom: 1rem;
      display: block;
      font-size: 1rem;
  }
  .single-footer-widget .footer_menu li a:hover,
  .single-footer-widget .footer_menu li a:focus {
      color: #3f43fd;
  }
  .single-footer-widget .footer_menu li:last-child a {
      margin-bottom: 0;
  }
  
  .footer_social_area {
      position: relative;
      z-index: 1;
  }
  .footer_social_area a {
      border-radius: 50%;
      height: 40px;
      text-align: center;
      width: 40px;
      display: inline-block;
      background-color: #f5f5ff;
      line-height: 40px;
      -webkit-box-shadow: none;
      box-shadow: none;
      margin-right: 10px;
  }
  .footer_social_area a i {
      line-height: 36px;
  }
  .footer_social_area a:hover,
  .footer_social_area a:focus {
      color: #ffffff;
  }
  
  @-webkit-keyframes bi-cycle {
      0% {
          left: 0;
      }
      100% {
          left: 100%;
      }
  }
  
  @keyframes bi-cycle {
      0% {
          left: 0;
      }
      100% {
          left: 100%;
      }
  }
  ol li, ul li {
      list-style: none;
  }
  
  ol, ul {
      margin: 0;
      padding: 0;
  } 

  * {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
  }
  
  /* body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #34495e;
  }
   */
  .cards {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .cardi {
    margin: 40px;
    position: relative;
    max-width: 250px;
    max-height: 350px;
    box-shadow: 0 40px 60px -6px black;
  }
  
  .card-title {
    display: block;
    text-align: center;
    color: #fff;
    background-color: #8d72ab;
    padding: 2%;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
  }
  
  .cardi img {
    width: 100%;
    height: 98%;
    object-fit: cover;
    display: block;
    position: relative;
  }
  
  .card-desc {
    display: block;
    font-size: 1.2rem;
    position: absolute;
    height: 0;
    top: 0;
    opacity: 0;
    padding: 18px 8%;
    background-color: white;
    overflow-y: scroll;
    transition: 0.8s ease;
  }
  
  .cardi:hover .card-desc {
    opacity: 1;
    height: 100%;
  }
  
  h1 {
    font-size: 2.8rem;
    color: #fff;
    margin: 40px 0 20px 0;
    text-align: center;
  }
  

  